*.so
*.o
*.a
__pycache__/
*.pyc
dist/
.coverage
.isort.cfg
coverage.xml
.ipynb_checkpoints/
*.dll
*.dylib
build/
*.egg-info/
.pytest_cache/
.mypy_cache/
.venv/
.validation/
htmlcov/
benchmark-results/
