include LICENSE README.md build_native.py Makefile
recursive-include lpsd *.py *.c *.h
exclude lpsd/ltpda_dft.dll
recursive-include lpsd_fast *.py *.c *.h *.md LICENSE*
recursive-include test *.py *.csv
recursive-include test_fast *.py *.md *.json
recursive-include benchmarks *.py *.json *.json.gz *.tar.gz
recursive-include benchmarks *.c *.h *.cu *.cl
recursive-include docs *.md *.png *.svg
global-exclude *.so *.dll *.dylib *.o *.a *.pyc *.build.json
